.tile-item:first-child.item-1up~.tile-item, .tile-item:first-child.item-hero~.tile-item, .tile-item:first-child.item-hero-secondary~.tile-item, .tile-item:first-child.item-hero-highlight~.tile-item, .tile-item:first-child.item-hero-highlight-secondary~.tile-item, .tile-item:first-child.item-super-hero~.tile-item, .tile-item:first-child.item-super-hero-secondary~.tile-item, .tile-item:first-child.item-portrait~.tile-item, .tile-item:first-child.item-portrait-secondary~.tile-item, .tile-item:first-child.item-hero-reversed~.tile-item {
    margin-top: 36px;
}

.section-content {
    margin-left: auto;
    margin-right: auto;
    max-width: 1140px;
}

.section-tiles {
    align-items: stretch;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    margin: 0;
}

.section-tiles::after {
    content: '';
    flex: 0 0 303px;
}

.tile-item {
    position: relative;
    list-style: none;
}

/* a:link, a:visited, .link:link, .link:visited {
    text-decoration: none;
} */

.tile {
    background-color: #fff;
    display: flex;
    border-radius: 16px;
    overflow: hidden;
    z-index: 0;
    position: relative;
}

.tile.tile-list {
    border-radius: revert;
    overflow: revert;
    z-index: revert;
    position: revert;
    background-color: transparent;
    flex-direction: row;
    width: 457px;
}

.tile.tile {
    height: 100%;
}

.tile.tile-list .tile__media, .tile.tile-list .tile__image-container {
    width: 140px;
    height: 140px;
    min-height: auto;
    flex-basis: auto;
    flex-shrink: 1;
    background-size: contain;
}

.tile.tile-list .tile__media {
    flex-shrink: 1;
}

.tile-3up {
    flex-direction: column;
    width: 355px;
}

.tile-2up {
    flex-direction: column;
    width: 472px;
}

.tile.tile-list .tile__media {
    border-radius: 16px;
    overflow: hidden;
    z-index: 0;
    position: relative;
}

.tile .tile__media {
    direction: ltr;
}

.tile-3up .tile__media, .tile-3up .tile__image-container {
    width: 100%;
    height: 270px;
    min-height: auto;
    flex-basis: auto;
    flex-shrink: 1;
}

.tile-2up .tile__media, .tile-2up .tile__image-container {
    width: 100%;
    height: 266px;
    min-height: auto;
    flex-basis: auto;
    flex-shrink: 1;
}

.tile-3up .tile__media .image {
    background-size: cover;
    height: 100%;
}

.tile-2up .tile__media .image {
    background-size: cover;
    height: 100%;
}

.tile.tile-list .image {
    background-size: cover;
    height: 100%;
}

.tile__media {
    position: relative;
    z-index: 0;
    flex-grow: 0;
    flex-shrink: 0;
    overflow: hidden;
}

.tile-3up .tile__description {
    padding: 24px;
    justify-content: space-between;
    flex-basis: auto;
}

.tile-2up .tile__description {
    padding: 24px;
    justify-content: space-between;
    flex-basis: auto;
}

.tile.tile-list .tile__description {
    padding: 0 0 0 24px;
    justify-content: center;
    flex-basis: 0;
}

.tile .tile__description {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    flex-grow: 1;
}

.tile.tile-list .tile__category {
    margin-bottom: 4px;
}

.tile__category {
    font-size: 12px;
    line-height: 1.33337;
    font-weight: 700;
    letter-spacing: .03em;
}

.tile__category, .tile__timestamp {
    color: #6e6e73;
}

.tile.tile-list .tile__headline {
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 700;
    letter-spacing: -.022em;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.tile__headline {
    color: #1d1d1f;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.tile.tile-list .tile__timestamp {
    margin-top: 8px;
}

.tile__timestamp {
    font-size: 14px;
    line-height: 1.28577;
    font-weight: 500;
    letter-spacing: -.016em;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.tile__category, .tile__timestamp {
    color: #6e6e73;
}

.tile-3up.tile {
    background-color: #f5f5f7;
}

.tile-2up.tile {
    background-color: #f5f5f7;
}

.tile-3up .tile__category {
    margin-bottom: 8px;
}

.tile-2up .tile__category {
    margin-bottom: 8px;
}

.tile-3up .tile__category , .tile-2up .tile__category {
    text-transform: uppercase;
}

.tile-3up .tile__headline {
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 700;
    letter-spacing: .012em;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.tile-2up .tile__headline {
    font-size: 19px;
    line-height: 1.21053;
    font-weight: 700;
    letter-spacing: .012em;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
}

.tile-3up .tile__timestamp {
    margin-top: 8px;
}

.tile-2up .tile__timestamp {
    margin-top: 8px;
}

.view-more-wrapper {
    margin-top: 32px;
    font-size: 17px;
    line-height: 1.23536;
    font-weight: 500;
    letter-spacing: -.022em;
    text-align: center;
}


.lockup {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 100%;
}

.lockup-title {
    font-size: 40px;
    font-weight: 500;
}

.lockup .subheading {
    font-size: 19px;
    line-height: 1.23536;
    font-weight: 700;
    letter-spacing: -.022em;
    margin-top: 16px;
    width: 41.66667%;
}

.register-conference-block .lockup .section-head {
    font-size: 28px;
    font-weight: 600;
}

/* Register Conference */

.register-conference-block {
    /* box-shadow: rgb(60 64 67 / 10%) 0px 1px 2px 0px, rgb(60 64 67 / 15%) 0px 2px 6px 2px; */
    background: #f5f5f7;
    border-radius: 20px;
    padding: 30px;
    margin-top: 60px;
}

.conference-item .tile-3up.tile , .conference-item .tile-2up.tile {
    background-color: #fff;
}

.conference-item.tile-item {
    margin-top: 30px;
}

.conference-item .tile-3up {
    flex-direction: column;
    width: 340px;
}

.conference-item .tile-2up {
    flex-direction: column;
    width: 525px;
}

.conference-item .tile__title {
    padding: 20px 20px 10px 20px;
    height: 130px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

.conference-item .tile__title .title-line {
    font-size: 22px;
}

.conference-item .tile__title .title-date {
    font-size: 15px;
    line-height: 1.33337;
    font-weight: 700;
    letter-spacing: .03em;
    color: #6e6e73;
}

.conference-item .price {
    text-align: center;
    font-size: 40px;
    line-height: 1.33337;
    font-weight: 700;
    letter-spacing: .03em;
}

.conference-item .tile__description {
    padding: 20px;
}

.conference-item .tile-3up .description-main {
    text-align: left;
    height: 200px;
    padding: 20px 15px 20px 35px;
}

.conference-item .tile-2up .description-main {
    text-align: left;
    height: 170px;
    padding: 20px 15px 20px 35px;
}

.conference-item .comment-line {
    margin: 10px auto;
}

.conference-item .tile__description .nr-cta-primary-dark {
    margin: 20px 0;
}

/* End Register Conference */

@media only screen and (max-width: 1199px) {
    .section-content {
        width: 750px;
    }

    .tile-3up {
        width: 363px;
    }

    .conference-item .tile-3up , .conference-item .tile-2up{
        width: 330px;
    }

    .conference-item .tile-3up .description-main, .conference-item .tile-2up .description-main {
        text-align: left;
        height: 200px;
        padding: 20px 15px 20px 35px;
    }
}

@media only screen and (max-width: 991px) {
    .section-tiles::after {
        width: 100%;
    }

    .tile.tile-list {
        flex-direction: row;
        width: 631px;
    }

    .blog-recommend .tile-item:nth-last-of-type(2):nth-of-type(odd)::after {
        background-color: #d0d0d0;
        margin-top: 24px;
    }

    .tile-3up .tile__media, .tile-3up .tile__image-container, .tile-2up .tile__media, .tile-2up .tile__image-container {
        height: 0;
        padding-top: 70%;
    }

    .tile-3up .tile__media .image, .tile-2up .tile__media .image {
        height: 100%;
        width: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    .lockup-title {
        font-size: 36px;
    }

    .lockup .subheading {
        font-size: 17px;
        line-height: 1.23536;
        font-weight: 700;
        letter-spacing: -.016em;
        margin-top: 16px;
        width: 55%;
    }
}

@media only screen and (max-width: 833px) {
    .tile.tile-list {
        flex-direction: row;
        width: 100%;
    }

    .tile.tile-list .tile__media {
        border-radius: 12px;
    }

    .tile.tile-list .tile__media, .tile.tile-list .tile__image-container {
        width: 105px;
        height: 105px;
        min-height: auto;
        flex-basis: auto;
        flex-shrink: 1;
    }

    .tile.tile-list .tile__description {
        padding: 0 0 0 16px;
        justify-content: center;
        flex-basis: 0;
    }
}

@media only screen and (max-width: 790px) {
    .section-content {
        max-width: 366px;
        width: 87.5%;
    }

    .tile-3up, .tile-2up  {
        width: 100%;
    }

    .conference-item .tile-3up, .conference-item .tile-2up  {
        width: 100%;
    }

    .conference-item .tile__title {
        height: 140px;
    }

    .conference-item .tile-3up .description-main, .conference-item .tile-2up .description-main  {
        height: 40%;
    }

    .lockup-title {
        font-size: 30px;
    }

    .lockup .subheading {
        width: 100%;
    }
}

@media only screen and (max-width: 388px) {
    .tile-3up .tile__media, .tile-3up .tile__image-container, .tile-2up .tile__media, .tile-2up .tile__image-container {
        padding-top: 75%;
    }

    .register-conference-block {
        padding: 15px;
        margin-top: 30px;
    }

    .conference-item .tile__title {
        height: 35%;
    }
}