/* loader */
.loading-container {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 999999;
    background: rgba(0, 0, 0, 0.6);
}

.loader {
    width: 8px;
    height: 40px;
    border-radius: 4px;
    display: block;
    margin: 20px auto;
    position: relative;
    background: currentColor;
    color: #f8f8f8;
    box-sizing: border-box;
    animation: animloader 0.3s 0.3s linear infinite alternate;
}

.loader::after, .loader::before {
    content: '';
    width: 8px;
    height: 40px;
    border-radius: 4px;
    background: currentColor;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 20px;
    box-sizing: border-box;
    animation: animloader 0.3s 0.45s linear infinite alternate;
}

.loader::before {
    left: -20px;
    animation-delay: 0s;
}

@keyframes animloader {
    0% {
        height: 48px
    }

    100% {
        height: 4px
    }
}

/* end loader */
.main {
    margin-top: 92px;
    margin-bottom: 140px;
    margin-left: auto;
    margin-right: auto;
    width: 980px;
    text-align: center
}

.typography-headline {
    font-size: 45px;
    line-height: 1.08365;
    font-weight: 500;
    letter-spacing: -.003em;
}

@media only screen and (min-width: 1442px) {
    .main {
        margin-left: auto;
        margin-right: auto;
        width: 980px
    }
}

@media only screen and (max-width: 1068px) {
    .main {
        margin-left: auto;
        margin-right: auto;
        width: 692px
    }

    .typography-headline {
        font-size: 36px;
        line-height: 1.1;
        font-weight: 500;
        letter-spacing: 0em;
    }
}

@media only screen and (max-width: 735px) {
    .main {
        margin-left: auto;
        margin-right: auto;
        width: 87.5%
    }

    .typography-headline {
        font-size: 30px;
        line-height: 1.125;
        font-weight: 500;
        letter-spacing: .004em;
    }
}

@media only screen and (max-width: 1068px) {
    .main {
        margin-top: 90px;
        margin-bottom: 120px
    }
}

@media only screen and (max-width: 735px) {
    .main {
        margin-top: 45px;
        margin-bottom: 60px
    }
}

.main .section-headline {
    width: 502px;
    margin-right: auto;
    margin-bottom: 54px;
    margin-left: auto
}

@media only screen and (max-width: 1068px) {
    .main .section-headline {
        width: 420px;
        margin-bottom: 45px
    }
}

@media only screen and (max-width: 735px) {
    .main .section-headline {
        max-width: 330px;
        width: auto;
        margin-bottom: 35px
    }
}

#search-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 490px;
    margin-bottom: 10px
}

@media only screen and (max-width: 735px) {
    #search-wrapper {
        width: auto
    }
}

#searchform-form {
    position: relative;
    z-index: 1
}

#searchform-form .form-textbox {
    padding-bottom: 1px
}

#searchform-form .button-reset {
    display: none
}

#searchform-form .button-reset.reset-visible {
    display: inline-block
}

#searchform-form .form-icon-reset {
    display: inline-block
}